/* Change background color to black */
.ql-container {
}

/* Change toolbar background color to blue */
.ql-toolbar {
	background-color: aliceblue;
}

/* Change toolbar border color to blue */
.ql-toolbar,
.ql-container.ql-snow .ql-toolbar.ql-toolbar {
}

.spanblock {
	background-color: "black";
	border: 1px solid #ccc;
	line-height: 19px;
	padding: 6px 10px;
	border-radius: 3px;
	margin: 15px 0;
}

.ql-formats {
}
